# Pandas

## 1.[Pandas Series](https://pandas.pydata.org/pandas-docs/stable/reference/series.html)

Import pandas and numpy with their aliases

In [2]:
import pandas as pd
import numpy as np

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [20]:
a = pd.Series([ 100, 200, 300, 400])

Print a, and type(a)

In [21]:
print(a)
type(a)

0    100
1    200
2    300
3    400
dtype: int64

pandas.core.series.Series

Using indexing access the element 300 from the series a.

In [22]:
a[2]

300

What are the values of index for series a?

In [23]:
0,1,2,3

(0, 1, 2, 3)

Change the index to be ['c', 'a', 'b', 'd']

In [24]:
a=a.rename(index={0:'c',1:'a',2:'b',3:'d'})
a

c    100
a    200
b    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [25]:
a['d']

400

Sort the values wrt to the index

In [26]:
a.sort_index()

a    200
b    300
c    100
d    400
dtype: int64

# Create a new Pandas Series having index as 'e', 'f', and 'g' and value 800,450,100

In [27]:
b = pd.Series([ 800, 450, 100],index=['e','f','g'])
b

e    800
f    450
g    100
dtype: int64

Append this new Series object at the end of a

In [29]:
c = a.append(b)
c

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

In [30]:
c.sort_index()

a    200
b    300
c    100
d    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [42]:
s = c.sort_values()
s = s[::-1]
s

e    800
f    450
d    400
b    300
a    200
g    100
c    100
dtype: int64

In [44]:
s.index

Index(['e', 'f', 'd', 'b', 'a', 'g', 'c'], dtype='object')

## 2. [Pandas DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

### Part 1

Go through the documentation and mention the difference between pandas DataFrame and pandas Series.

Create a pandas dataframe from the series 'a' that we used in the last section, print the dataframe

In [57]:
df = pd.DataFrame(s)
df

     0
e  800
f  450
d  400
b  300
a  200
g  100
c  100

What is the shape of the datafarme <br>
(also, what does it imply?)

In [58]:
df.shape

(7, 1)

What is the index of the dataframe, is it same as the series 'a'

In [60]:
df.index

Index(['e', 'f', 'd', 'b', 'a', 'g', 'c'], dtype='object')

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [61]:
df.head()

     0
e  800
f  450
d  400
b  300
a  200

In [62]:
df.tail()

     0
d  400
b  300
a  200
g  100
c  100

Rename the col of the dataframe as 'points'

In [77]:
df = df.rename(columns={0:'points'})
df

   points
e     800
f     450
d     400
b     300
a     200
g     100
c     100

Create another Series which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [65]:
r = np.random.choice( ['orange','mango','apple'],7)
r

array(['orange', 'apple', 'mango', 'orange', 'mango', 'mango', 'mango'],
      dtype='<U6')

In [67]:
ss = pd.Series(r)
ss

0    orange
1     apple
2     mango
3    orange
4     mango
5     mango
6     mango
dtype: object

Change the index of fruits to the index of dataframe

In [70]:
ss = ss.rename(index={0:'e',1:'f',2:'d',3:'b',4:'a',5:'g',6:'c'})
ss

e    orange
f     apple
d     mango
b    orange
a     mango
g     mango
c     mango
dtype: object

Add this series as a new column to the dataframe with name of the col as 'fruits' <br> print the head of the dataframe to verify

In [78]:
df

   points
e     800
f     450
d     400
b     300
a     200
g     100
c     100

In [81]:
type(df)

pandas.core.frame.DataFrame

In [89]:
ss = pd.DataFrame(ss)
ss = ss.rename(columns={0:'fruits'})

In [92]:
d = df.join(ss).head()
d

   points  fruits
e     800  orange
f     450   apple
d     400   mango
b     300  orange
a     200   mango

Optional questions: <br>
What if we had to changed the index of the dataframe? <br>
Try to add any series to the dataframe with the origianl index (when index of series is not same as to the index of dataframe)

### Part 2

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [3]:
d1 = pd.DataFrame(data={'city' : ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali' ],
                       'Temperature' : [15, 22, 20, 26,-2]})

Print(d1)

In [4]:
print(d1)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [5]:
d1.shape

(5, 2)

Set city = d1['city']

In [6]:
city = d1['city']

print city <br>
What is the type of city.

In [7]:
print(city)
print(type(city))

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object
<class 'pandas.core.series.Series'>

Create another datafeame where the cols are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [8]:
d2 = pd.DataFrame(data={'city':['Bengalaru','Coimbatore','Srirangam','Pondicherry'],
                      'Temperature' : [24,35,36,39] })
d2

          city  Temperature
0    Bengalaru           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

print the shape of this dataframe

In [9]:
d2.shape

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [10]:
d3 = pd.concat([d1,d2])
d3

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
0    Bengalaru           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [11]:
d3[d3['Temperature']>=35]

          city  Temperature
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

## 3. Applying functions to columns and creating new columns

We need to create another column, which contains for each city a boolean value to indicate whether it's a union territory or not. 
- HINT: Chandigarh, Pondicherry and Delhi are only two union territories.

In [12]:
d3

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
0    Bengalaru           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

In [14]:
d3['ut'] = d3['city'].isin(['Chandigarh','Delhi','Pondicherry'])
d3

          city  Temperature     ut
0   Chandigarh           15   True
1        Delhi           22   True
2       Kanpur           20  False
3      Chennai           26  False
4       Manali           -2  False
0    Bengalaru           24  False
1   Coimbatore           35  False
2    Srirangam           36  False
3  Pondicherry           39   True

In [15]:
d3

          city  Temperature     ut
0   Chandigarh           15   True
1        Delhi           22   True
2       Kanpur           20  False
3      Chennai           26  False
4       Manali           -2  False
0    Bengalaru           24  False
1   Coimbatore           35  False
2    Srirangam           36  False
3  Pondicherry           39   True

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT - 
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [16]:
d3['temp_farenhiet'] = (d3['Temperature']*1.8)+32
d3

          city  Temperature     ut  temp_farenhiet
0   Chandigarh           15   True            59.0
1        Delhi           22   True            71.6
2       Kanpur           20  False            68.0
3      Chennai           26  False            78.8
4       Manali           -2  False            28.4
0    Bengalaru           24  False            75.2
1   Coimbatore           35  False            95.0
2    Srirangam           36  False            96.8
3  Pondicherry           39   True           102.2

## 4. Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [20]:
d3[d3['city'].isin(['Chandigarh','Delhi','Pondicherry'])]

          city  Temperature    ut  temp_farenhiet
0   Chandigarh           15  True            59.0
1        Delhi           22  True            71.6
3  Pondicherry           39  True           102.2

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [21]:
d3

          city  Temperature     ut  temp_farenhiet
0   Chandigarh           15   True            59.0
1        Delhi           22   True            71.6
2       Kanpur           20  False            68.0
3      Chennai           26  False            78.8
4       Manali           -2  False            28.4
0    Bengalaru           24  False            75.2
1   Coimbatore           35  False            95.0
2    Srirangam           36  False            96.8
3  Pondicherry           39   True           102.2

In [22]:
d3[d3['temp_farenhiet']>90]

          city  Temperature     ut  temp_farenhiet
1   Coimbatore           35  False            95.0
2    Srirangam           36  False            96.8
3  Pondicherry           39   True           102.2

Select only the first three rows of the dataframe d1.

In [23]:
d3.head(3)

         city  Temperature     ut  temp_farenhiet
0  Chandigarh           15   True            59.0
1       Delhi           22   True            71.6
2      Kanpur           20  False            68.0

Select all the rows and last two columns in the dataframe.

In [26]:
d3.iloc[:,[-2,-1]]

      ut  temp_farenhiet
0   True            59.0
1   True            71.6
2  False            68.0
3  False            78.8
4  False            28.4
0  False            75.2
1  False            95.0
2  False            96.8
3   True           102.2

## Data Range

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [49]:
a=pd.date_range(start = '1/1/2020', end='1/4/2021')

In [50]:
print(a)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31', '2021-01-01', '2021-01-02',
               '2021-01-03', '2021-01-04'],
              dtype='datetime64[ns]', length=370, freq='D')

print a

In [51]:
len(a)

370

What is the len of a?

In [52]:
len(a)

370

What is the type of a?

In [53]:
type(a)

pandas.core.indexes.datetimes.DatetimeIndex

## input output

In [130]:
csv_read = pd.read_csv('/home/vimalkumar/Downloads/annual-enterprise-survey-2020-financial-year-provisional-csv.csv')
csv_read.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...

In [131]:
csv_save = csv_read.to_csv('sample.csv')

In [33]:
json_read = pd.read_json('/home/vimalkumar/Downloads/sample1.json',typ='series')

In [34]:
json_read.head()

fruit    Apple
size     Large
color      Red
dtype: object

In [36]:
json_read.to_json('jsonfile.json')

In [38]:
x = pd.read_html('https://en.wikipedia.org/wiki/COVID-19_datasets')
print(x)

[                                           Publisher  \
0                   Coders Against COVID/GISCorps[1]
1                                        USAFacts[5]
2                          COVID Tracking Project[8]
3  Sentiment Analysis of users reviews on COVID-1...

  Date of first publication                            In official use?  \
0         March 22, 2020[2]  Yes, by FEMA[3] and State of California[4]
1         April 24, 2020[6]                              Yes, by CDC[7]
2          March 7, 2020[9]                                          No
3                March 2021                                         NaN

  Update Frequency  Geographic Level Timeseries Testing Sites Testing Number  \
0            Daily  Point (lat/long)        Yes           Yes             No
1            Daily            County        Yes            No             No
2            Daily             State        Yes            No            Yes
3              NaN               NaN        NaN           NaN            NaN

  Cases Hospitalizations Deaths Vaccination Sites Vaccination Number  \
0    No               No     No               Yes                 No
1   Yes              NaN    Yes                No                 No
2   Yes              Yes    Yes                No                 No
3   NaN              NaN    NaN               NaN                NaN

                                         Description
0  A dataset of COVID-19 testing locations in the...
1  A dataset of county-level coronavirus cases an...
2  A volunteer-run database of testing and medica...
3  This dataset is intended to support sentiment ...  ,                                                 Name  Geographic Level  \
0  COVID-19 Diagnostic Laboratory Testing (PCR Te...             State
1  COVID-19 Reported Patient Impact and Hospital ...  Point (lat/long)
2  COVID-19 Estimated Patient Impact and Hospital...             State
3  COVID-19 Reported Patient Impact and Hospital ...             State
4  COVID-19 Reported Patient Impact and Hospital ...             State

  Timeseries Testing Sites Testing Number Cases Hospitalizations Deaths  \
0        Yes            No            Yes    No               No     No
1        Yes            No             No    No              Yes     No
2         No            No             No    No              Yes     No
3         No            No             No    No              Yes     No
4        Yes            No             No    No              Yes     No

  Vaccination Sites Vaccination Number
0                No                 No
1                No                 No
2                No                 No
3                No                 No
4                No                 No  ,     .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteCOVID-19 pandemic  \
0                COVID-19 (disease) SARS-CoV-2 (virus)
1    TimelinePre-pandemic Severe acute respiratory ...
2                                             Timeline
3    Pre-pandemic Severe acute respiratory syndrome...
4                                         Pre-pandemic
..                                                 ...
122                                               Asia
123                                      Europe(chart)
124                                            Oceania
125                                             Others
126                          COVID-19 portal  Category

    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteCOVID-19 pandemic.1
0                COVID-19 (disease) SARS-CoV-2 (virus)
1    TimelinePre-pandemic Severe acute respiratory ...
2                                             Timeline
3    Pre-pandemic Severe acute respiratory syndrome...
4    Severe acute respiratory syndrome (SARS) Middl...
..                                                 ...
122  Afghanistan chart Armenia chart Azerbaijan cha...
123  Albania chart Austria chart Belarus chart Belg...
124  Australia chart by state/territory Fiji chart ...
125                      Cruise ships Diamond Princess
126                          COVID-19 portal  Category

[127 rows x 2 columns],                                             Timeline  \
0  Pre-pandemic Severe acute respiratory syndrome...
1                                       Pre-pandemic
2                                               2020
3                                               2021

                                          Timeline.1
0  Pre-pandemic Severe acute respiratory syndrome...
1  Severe acute respiratory syndrome (SARS) Middl...
2  January responses February responses March res...
3  January responses February responses March res...  ,               0                                                  1
0  Pre-pandemic  Severe acute respiratory syndrome (SARS) Middl...
1          2020  January responses February responses March res...
2          2021  January responses February responses March res...,                                             Locations  \
0   Africa(timelinenationalresponses)Northern Alge...
1                   Africa(timelinenationalresponses)
2                                            Northern
3                                             Eastern
4                                            Southern
5                                             Central
6                                             Western
7                                                Asia
8                                       Central/North
9                                                East
10  Hong Kong Japan timeline Tokyo 2020 Summer Oly...
11                                     Mainland China
12                                              South
13  Afghanistan timeline Bangladesh timeline Bhuta...
14                                              India
15                                          Southeast
16  Brunei Cambodia East Timor Indonesia timeline ...
17                                           Malaysia
18                                        Philippines
19                                               West
20                                             Europe
21                                     United Kingdom
22  history timeline January–June 2020 July–Decemb...
23                                 Crown dependencies
24                               Overseas territories
25                                            Eastern
26                                    Western Balkans
27                                     European Union
28                                     EFTA countries
29                                        Microstates
30                                       NorthAmerica
31                                    Central America
32                                             Canada
33                                          Caribbean
34                                      United States
35                                           Atlantic
36                                            Oceania
37  American Samoa Cook Islands Easter Island Fede...
38                                          Australia
39                                       SouthAmerica
40                                             Others

                                          Locations.1
0   Africa(timelinenationalresponses)Northern Alge...
1   Northern Algeria Canary Islands Ceuta Egypt Li...
2   Algeria Canary Islands Ceuta Egypt Libya Mauri...
3   Burundi Comoros Djibouti Eritrea Ethiopia Keny...
4   Angola Botswana Eswatini Lesotho Malawi Mozamb...
5   Cameroon Central African Republic Chad Democra...
6   Benin Burkina Faso Cape Verde Equatorial Guine...
7   Central/North Kazakhstan Kyrgyzstan Russia tim...
8   Kazakhstan Kyrgyzstan Russia timeline January–...
9   Hong Kong Japan timeline Tokyo 2020 Summer Oly...
10  Hong Kong Japan timeline Tokyo 2020 Summer Oly...
11  lockdown detail statistics vaccination Beijing...
12  Afghanistan timeline Bangladesh timeline Bhuta...
13  Afghanistan timeline Bangladesh timeline Bhuta...
14  timeline January–May 2020 June–December 2020 2...
15  Brunei Cambodia East Timor Indonesia timeline ...
16  Brunei Cambodia East Timor Indonesia timeline ...
17  impact social economic political Aid and relie...
18  timeline 2020 2021 government response communi...
19  Armenia Azerbaijan Artsakh Bahrain Cyprus Nort...
20  United Kingdom history timeline January–June 2...
21  history timeline January–June 2020 July–Decemb...
22  history timeline January–June 2020 July–Decemb...
23                        Isle of Man Jersey Guernsey
24  Akrotiri and Dhekelia British Indian Ocean Ter...
25  Belarus timeline Kazakhstan Moldova Gagauzia T...
26  Albania Bosnia and Herzegovina Kosovo Monteneg...
27  Austria Belgium Bulgaria Croatia timeline Cypr...
28           Iceland Liechtenstein Norway Switzerland
29             Andorra Monaco San Marino Vatican City
30  Central America Belize Costa Rica El Salvador ...
31  Belize Costa Rica El Salvador Guatemala Hondur...
32  timeline economic impact federal aid vaccinati...
33  Antigua and Barbuda Bahamas Barbados British O...
34  timeline 2020 2021 impact social economic 2021...
35        Bermuda Greenland Saint Pierre and Miquelon
36  American Samoa Cook Islands Easter Island Fede...
37  American Samoa Cook Islands Easter Island Fede...
38  timeline 2020 2021 January–June July–December ...
39  Argentina timeline statistics human rights Bol...
40  Antarctica Cruise ships Diamond Princess Grand...  ,                                                     0  \
0                   Africa(timelinenationalresponses)
1                                            Northern
2                                             Eastern
3                                            Southern
4                                             Central
5                                             Western
6                                                Asia
7                                       Central/North
8                                                East
9   Hong Kong Japan timeline Tokyo 2020 Summer Oly...
10                                     Mainland China
11                                              South
12  Afghanistan timeline Bangladesh timeline Bhuta...
13                                              India
14                                          Southeast
15  Brunei Cambodia East Timor Indonesia timeline ...
16                                           Malaysia
17                                        Philippines
18                                               West
19                                             Europe
20                                     United Kingdom
21  history timeline January–June 2020 July–Decemb...
22                                 Crown dependencies
23                               Overseas territories
24                                            Eastern
25                                    Western Balkans
26                                     European Union
27                                     EFTA countries
28                                        Microstates
29                                       NorthAmerica
30                                    Central America
31                                             Canada
32                                          Caribbean
33                                      United States
34                                           Atlantic
35                                            Oceania
36  American Samoa Cook Islands Easter Island Fede...
37                                          Australia
38                                       SouthAmerica
39                                             Others

                                                    1
0   Northern Algeria Canary Islands Ceuta Egypt Li...
1   Algeria Canary Islands Ceuta Egypt Libya Mauri...
2   Burundi Comoros Djibouti Eritrea Ethiopia Keny...
3   Angola Botswana Eswatini Lesotho Malawi Mozamb...
4   Cameroon Central African Republic Chad Democra...
5   Benin Burkina Faso Cape Verde Equatorial Guine...
6   Central/North Kazakhstan Kyrgyzstan Russia tim...
7   Kazakhstan Kyrgyzstan Russia timeline January–...
8   Hong Kong Japan timeline Tokyo 2020 Summer Oly...
9   Hong Kong Japan timeline Tokyo 2020 Summer Oly...
10  lockdown detail statistics vaccination Beijing...
11  Afghanistan timeline Bangladesh timeline Bhuta...
12  Afghanistan timeline Bangladesh timeline Bhuta...
13  timeline January–May 2020 June–December 2020 2...
14  Brunei Cambodia East Timor Indonesia timeline ...
15  Brunei Cambodia East Timor Indonesia timeline ...
16  impact social economic political Aid and relie...
17  timeline 2020 2021 government response communi...
18  Armenia Azerbaijan Artsakh Bahrain Cyprus Nort...
19  United Kingdom history timeline January–June 2...
20  history timeline January–June 2020 July–Decemb...
21  history timeline January–June 2020 July–Decemb...
22                        Isle of Man Jersey Guernsey
23  Akrotiri and Dhekelia British Indian Ocean Ter...
24  Belarus timeline Kazakhstan Moldova Gagauzia T...
25  Albania Bosnia and Herzegovina Kosovo Monteneg...
26  Austria Belgium Bulgaria Croatia timeline Cypr...
27           Iceland Liechtenstein Norway Switzerland
28             Andorra Monaco San Marino Vatican City
29  Central America Belize Costa Rica El Salvador ...
30  Belize Costa Rica El Salvador Guatemala Hondur...
31  timeline economic impact federal aid vaccinati...
32  Antigua and Barbuda Bahamas Barbados British O...
33  timeline 2020 2021 impact social economic 2021...
34        Bermuda Greenland Saint Pierre and Miquelon
35  American Samoa Cook Islands Easter Island Fede...
36  American Samoa Cook Islands Easter Island Fede...
37  timeline 2020 2021 January–June July–December ...
38  Argentina timeline statistics human rights Bol...
39  Antarctica Cruise ships Diamond Princess Grand...  ,           0                                                  1
0  Northern  Algeria Canary Islands Ceuta Egypt Libya Mauri...
1   Eastern  Burundi Comoros Djibouti Eritrea Ethiopia Keny...
2  Southern  Angola Botswana Eswatini Lesotho Malawi Mozamb...
3   Central  Cameroon Central African Republic Chad Democra...
4   Western  Benin Burkina Faso Cape Verde Equatorial Guine...,                                                     0  \
0                                       Central/North
1                                                East
2   Hong Kong Japan timeline Tokyo 2020 Summer Oly...
3                                      Mainland China
4                                               South
5   Afghanistan timeline Bangladesh timeline Bhuta...
6                                               India
7                                           Southeast
8   Brunei Cambodia East Timor Indonesia timeline ...
9                                            Malaysia
10                                        Philippines
11                                               West

                                                    1
0   Kazakhstan Kyrgyzstan Russia timeline January–...
1   Hong Kong Japan timeline Tokyo 2020 Summer Oly...
2   Hong Kong Japan timeline Tokyo 2020 Summer Oly...
3   lockdown detail statistics vaccination Beijing...
4   Afghanistan timeline Bangladesh timeline Bhuta...
5   Afghanistan timeline Bangladesh timeline Bhuta...
6   timeline January–May 2020 June–December 2020 2...
7   Brunei Cambodia East Timor Indonesia timeline ...
8   Brunei Cambodia East Timor Indonesia timeline ...
9   impact social economic political Aid and relie...
10  timeline 2020 2021 government response communi...
11  Armenia Azerbaijan Artsakh Bahrain Cyprus Nort...  ,                                                    0  \
0  Hong Kong Japan timeline Tokyo 2020 Summer Oly...
1                                     Mainland China

                                                   1
0  Hong Kong Japan timeline Tokyo 2020 Summer Oly...
1  lockdown detail statistics vaccination Beijing...  ,                                                    0  \
0  Afghanistan timeline Bangladesh timeline Bhuta...
1                                              India

                                                   1
0  Afghanistan timeline Bangladesh timeline Bhuta...
1  timeline January–May 2020 June–December 2020 2...  ,                                                    0  \
0  Brunei Cambodia East Timor Indonesia timeline ...
1                                           Malaysia
2                                        Philippines

                                                   1
0  Brunei Cambodia East Timor Indonesia timeline ...
1  impact social economic political Aid and relie...
2  timeline 2020 2021 government response communi...  ,                                                    0  \
0                                     United Kingdom
1  history timeline January–June 2020 July–Decemb...
2                                 Crown dependencies
3                               Overseas territories
4                                            Eastern
5                                    Western Balkans
6                                     European Union
7                                     EFTA countries
8                                        Microstates

                                                   1
0  history timeline January–June 2020 July–Decemb...
1  history timeline January–June 2020 July–Decemb...
2                        Isle of Man Jersey Guernsey
3  Akrotiri and Dhekelia British Indian Ocean Ter...
4  Belarus timeline Kazakhstan Moldova Gagauzia T...
5  Albania Bosnia and Herzegovina Kosovo Monteneg...
6  Austria Belgium Bulgaria Croatia timeline Cypr...
7           Iceland Liechtenstein Norway Switzerland
8             Andorra Monaco San Marino Vatican City  ,                                                    0  \
0  history timeline January–June 2020 July–Decemb...
1                                 Crown dependencies
2                               Overseas territories


In [ ]:
# read json file and save it in another json file

In [ ]:
# read csv file and save it in another csv file

In [ ]:
# read html file(web) and access tables from that and dhow the data

In [ ]:
# save above read table into another html file